<%= provide(:location, "Restaurants") %>
<h1> Creating a Restaurant </h1>

<div id="new-restaurant-form">
  {{ message }}
</div>
<%= form_for @restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :contactPhone %>
  <%= f.telephone_field :contactPhone %>

  <%= f.submit "Do something", class: "btn btn-primary" %>
<% end %>
