<!DOCTYPE html>
<html>
  <head>
    <title>OpenChef | <%= yield(:location) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- I don't know why that is included...-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap built in for responsiveness -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
