<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:location)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- I don't know why that is included...-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap built in for responsiveness -->
  </head>

  <body>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
    <% end %>

    <%= link_to 'Login', new_user_session_path %>
    I think this displays on every single page
    <!-- Use routes to put link to login on master layout -->
    <!-- we used the first column of the routes "new_user_session"
    that points to the URL "localhost:3000/users/sign_in"
    and that goes to the devise/sessions controller to "new" action -->

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <%= yield %>
  </body>
</html>
